@using Microsoft.AspNetCore.Components.Forms


<div id="addProduct">
    <div class="header">
        <span>Додати товар</span>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="d-none d-lg-block col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="accordion col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Додати зображення
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="noPhoto" style='background-image:url(@(string.IsNullOrEmpty(request.Image1) ? "icons/no_photo.png" : $"{ApiConnection}/images/{request.Image1}")); background-size:cover;'></div>
                                <div class="file-input-zone">
                                    <InputFile AdditionalAttributes="LogoAttributes" OnChange="UploadImage" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Додати зображення
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="noPhoto" style='background-image:url(@(string.IsNullOrEmpty(request.Image2) ? "icons/no_photo.png" : $"{ApiConnection}/images/{request.Image2}")); background-size:cover;'></div>
                                <div class="file-input-zone">
                                    <InputFile AdditionalAttributes="LogoAttributes" OnChange="UploadImage" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Додати зображення
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="noPhoto" style='background-image:url(@(string.IsNullOrEmpty(request.Image3) ? "icons/no_photo.png" : $"{ApiConnection}/images/{request.Image3}")); background-size:cover;'></div>
                                <div class="file-input-zone">
                                    <InputFile AdditionalAttributes="LogoAttributes" OnChange="UploadImage" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*----------------------------------------------------------------------------------------*@
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="d-none d-lg-block col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="addProduct col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="groupInput">
                        <label class="mHeightL">Заголовок</label>
                        <input class="mHeight" type="text" @bind="request.Title" />
                    </div>

                    <div class="groupInput">
                        <label class="mHeightL">Опис</label>
                        <input class="mHeight" type="text" @bind="request.Description" />
                    </div>

                    <div class="groupInput">
                        <label class="mHeightL">Додаткова інформація</label>
                        <input class="mHeight" type="text" @bind="request.AdditionalInfo" />
                    </div>

                    <div class="groupInput">
                        <label class="mHeightL">Ціна</label>
                        <input class="mHeight" type="text" @bind="request.Price" />
                    </div>

                    <div class="groupInput">
                        <label class="mHeightL">Категорія:</label>
                        <select class="form-select" @bind="request.CategoryId" aria-label="Default select example">
                            @foreach (var item in Categories)
                            {
                                <option value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </select>
                    </div>

                    <div class="groupInput">
                        <label class="mHeightL">Статуc</label>
                        <select class="form-select" @bind="request.StateId" aria-label="Default select example">
                            @foreach (var item in States)
                            {
                                @if (@item.Name == "used")
                                {
                                    <option value="@item.Id">
                                        Б/У
                                    </option>
                                }

                                @if (@item.Name == "new")
                                {
                                    <option value="@item.Id">
                                        Новий
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="groupInput">
                        <label class="mHeightL">Тип</label>
                        <select class="form-select" @bind="request.PurchaseTypeId">
                            @foreach (var item in Types)
                            {
                                @if (@item.Name == "sale")
                                {
                                    <option value="@item.Id">
                                        Продаж
                                    </option>
                                }

                                @if (@item.Name == "auction")
                                {
                                    <option value="@item.Id">
                                        Аукціон
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div>
                        <div class="productDescB">
                        <h2 class="productDesc">Характеристики</h2>
                        <div class="groupInput">
                            <label class="mHeightL">Назва:</label>
                            <input class="mHeight" @bind="keyDescInput" />
                        </div>
                        <div class="groupInput">
                            <label class="mHeightL">Опис:</label>
                            <input class="mHeight" @bind="valueDescInput" />
                        </div>
                        <div class="buttonFlex">
                            <div></div>
                            <h2 class="productDesc productDescBtn" @onclick="addDesc">Додати характеристику</h2>
                        </div>
                        
                        @foreach (var item in request.ProductDescs)
                        {
                            <div class="productDesc">
                                <div>
                                    <h3>@item.Key</h3>
                                    <h3 class="removeDescBtn" @onclick="() => removeDesc(item.Key)">Видалити</h3>
                                </div>

                                <p>@item.Value</p>
                            </div>
                        }
                        </div>
                    </div>
                    <div class="buttonFlex">
                        <div></div>
                        <h2 class="productDesc productDescBtn" @onclick="Submith">Закінчити</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*<span>Заголовок:</span>
    <input @bind="request.Title" />
    <br />
    <span>Опис:</span>
    <input @bind="request.Description" />
    <br />
    <span>Ціна:</span>
    <input type="number" @bind="request.Price" />
    <br />
    <span>Категорія:</span>
    <select @bind="request.CategoryId">
    @foreach (var item in Categories)
    {
    <option value="@item.Id">
    @item.Name
    </option>
    }
    </select>
    <br />
    <span>Статус:</span>
    <select @bind="request.StateId">
    @foreach (var item in States)
    {
    <option value="@item.Id">
    @item.Name
    </option>
    }
    </select>
    <br />
    <span>Тип:</span>
    <select @bind="request.PurchaseTypeId">
    @foreach (var item in Types)
    {
    <option value="@item.Id">
    @item.Name
    </option>
    }
    </select>
    <br />
    @foreach (var item in request.ProductDescs)
    {
    <span>@item.Key : @item.Value</span>
    <button @onclick="() => removeDesc(item.Key)">X</button>
    <br />
    }
    <input @bind="keyDescInput" />
    <input @bind="valueDescInput" />
    <button @onclick="addDesc">
    Додати характеристику
    </button>
    <br />
    <button @onclick="Submith">
    Додати товар
    </button>*@