<h3>Додати продукт</h3>
<span>Картинка:</span><input type="image" @bind="request.Image"/><br/>
<span>Заголовок:</span><input @bind="request.Title" /><br />
<span>Опис:</span><input @bind="request.Description" /><br />
<span>Ціна:</span><input type="number" @bind="request.Price" /><br />
<span>Категорія:</span>
<select @bind="request.CategoryId">
    @foreach (var item in _categories)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</select>
<br />
<span>Статус:</span>
<select @bind="request.StateId">
    @foreach (var item in _states)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</select>
<br />
<span>Тип:</span>
<select @bind="request.PurchaseTypeId">
    @foreach (var item in _types)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</select>
<button @onclick="Submith">
    Додати
</button>