@using Microsoft.AspNetCore.Components.Forms

<div id="flex">
    <div class="flexBlock">
        <div class="header">
            <span>Ваші товари</span>
        </div>

        @foreach (var product in _products.List)
        {
            <a href="/product/@product.Id">
                <div id="flex" class="personalCard mt-20">
                    <div>
                        <img src="@(string.IsNullOrEmpty(product.Image1) ? "icons/no_photo.png" : $"{ApiConnection}/images/{product.Image1}")" alt="" />
                    </div>
                    <div class="ml-10">
                        <div class="mt-13">
                            <span>@product.Title</span>
                        </div>
                        <div>
                            <span>Ціна: @product.Price</span>
                            <span>₴</span>
                        </div>
                        <div>
                            <span>@product.DateClosed</span>
                        </div>
                    </div>

                </div>
            </a>
        }
    </div>

    <div class="flexBlock">
        <div class="header">
            <span>Запити на покупки</span>
        </div>

        @*        @foreach (var product in _products.List)
        {
        if (product.PurchaseTypeId == 1)
        {
        <a href="/product/@product.Id">
        <div id="flex" class="personalCard mt-20">
        <div>
        <img src="@(string.IsNullOrEmpty(product.Image) ? "icons/no_photo.png" : $"{ApiConnection}/images/{product.Image}")" alt="" />
        </div>
        <div class="ml-10">
        <div class="mt-13">
        <span>@product.Title</span>
        </div>
        <div>
        <span>Ціна: @product.Price</span>
        <span>₴</span>
        </div>
        <div>
        <span>@product.DateClosed</span>
        </div>
        </div>

        </div>
        </a>
        }
        }*@
    </div>

    <div class="flexBlock">
        <div class="header">
            <span>Додати товар</span>
        </div>     
        <div>
            <p></p>
            <div>
                <img src="@(string.IsNullOrEmpty(request.Image1) ? "icons/no_photo.png" : $"{ApiConnection}/images/{request.Image1}")" alt="">
            </div>
        </div>
        <InputFile AdditionalAttributes="LogoAttributes" OnChange="UploadImage" />

        <div>
            <p></p>
            <div>
                <img src="@(string.IsNullOrEmpty(request.Image2) ? "icons/no_photo.png" : $"{ApiConnection}/images/{request.Image2}")" alt="">
            </div>
        </div>
        <InputFile AdditionalAttributes="LogoAttributes" OnChange="UploadImage" />
       
        <div>
            <p></p>
            <div>
                <img src="@(string.IsNullOrEmpty(request.Image3) ? "icons/no_photo.png" : $"{ApiConnection}/images/{request.Image3}")" alt="">
            </div>
        </div>
         <InputFile AdditionalAttributes="LogoAttributes" OnChange="UploadImage" />

        <span>Заголовок:</span><input @bind="request.Title" /><br />
        <span>Опис:</span><input @bind="request.Description" /><br />
        <span>Ціна:</span><input type="number" @bind="request.Price" /><br />
        <span>Категорія:</span>
        <select @bind="request.CategoryId">
            @foreach (var item in Categories)
            {
                <option value="@item.Id">
                    @item.Name
                </option>
            }
        </select>
        <br />
        <span>Статус:</span>
        <select @bind="request.StateId">
            @foreach (var item in States)
            {
                <option value="@item.Id">
                    @item.Name
                </option>
            }
        </select>
        <br />
        <span>Тип:</span>
        <select @bind="request.PurchaseTypeId">
            @foreach (var item in Types)
            {
                <option value="@item.Id">
                    @item.Name
                </option>
            }
        </select>
        <br/>
        @foreach (var item in request.ProductDescs)
        {
            <span>@item.Key : @item.Value</span>
            <button @onclick="() => removeDesc(item.Key)">X</button>
            <br/>
        }
        <input @bind="keyDescInput"/><input @bind="valueDescInput"/>
        <button @onclick="addDesc">
            Додати характеристику
        </button>
        <br />
        <button @onclick="Submith">
            Додати товар
        </button>
    </div>
</div>