<h3>Add announcement</h3>
<span>Image:</span><input type="image" @bind="request.Image"/><br/>
<span>Title:</span><input @bind="request.Title" /><br />
<span>Description:</span><input @bind="request.Description" /><br />
<span>Price:</span><input type="number" @bind="request.Price" /><br />
<span>Count:</span><input type="number" @bind="request.Count" /><br />
<span>By now:</span><input type="checkbox" @bind="request.ByNow"/><br />
<span>Category</span>
<select @bind="request.CategoryId">
    @foreach (var item in _categories)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</select>
<br />
<span>State</span>
<select @bind="request.StateId">
    @foreach (var item in _states)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</select>
<br />
<span>Type</span>
<select @bind="request.PurchaseTypeId">
    @foreach (var item in _types)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</select>
<button @onclick="Submith">
    Submith
</button>
<h3>@message</h3>