<h3>@product.Title</h3>
<p>Image here @product.Image</p>
<p>@product.Description</p>
<p>Дата публікації: @product.Price</p>
<p>Ціна: @product.Price</p>
@if (product.PurchaseTypeId == 1)
{
	<button>Купити зараз</button>
}
else if(product.PurchaseTypeId==2){
	<button>Поставити ставку</button>
}