@using StepEbay.Main.Client.Base.Pages.PersonalAccount

<div id="flex">
    <div class="flexBlock">
        <div class="header">
            <span>Аукціони</span>
        </div>

        @foreach (var product in _products.List)
        {
            if (product.PurchaseTypeId == 2)
            {
                <a href="/product/@product.Id">
                    <div id="flex" class="personalCard mt-20">
                        <div>
                            <img src="@(string.IsNullOrEmpty(product.Image1) ? "icons/no_photo.png" : $"{ApiConnection}/images/{product.Image1}")" alt="" />
                        </div>
                        <div class="ml-10">
                            <div class="mt-13">
                                <span>@product.Title</span>
                            </div>
                            <div>
                                <span>Ціна: @product.Price</span>
                                <span>₴</span>
                            </div>
                            <div>
                                <span>@product.DateClosed</span>
                            </div>
                        </div>

                    </div>
                </a>
            }
        }
    </div>

    <div class="flexBlock">
        <div class="header">
            <span>Покупки</span>
        </div>

        @foreach (var product in _products.List)
        {
            if (product.PurchaseTypeId == 1)
            {
                <a href="/product/@product.Id">
                    <div id="flex" class="personalCard mt-20">
                        <div>
                            <img src="@(string.IsNullOrEmpty(product.Image1) ? "icons/no_photo.png" : $"{ApiConnection}/images/{product.Image1}")" alt="" />
                        </div>
                        <div class="ml-10">
                            <div class="mt-13">
                                <span>@product.Title</span>
                            </div>
                            <div>
                                <span>Ціна: @product.Price</span>
                                <span>₴</span>
                            </div>
                            <div>
                                <span>@product.DateClosed</span>
                            </div>
                        </div>

                    </div>
                </a>
            }
        }
    </div>
</div>


