<h3>Product</h3>
@if (!ShowPreloader)
{
    @foreach (var category in ProductFilters.Categories)
    {
        <div>
            @if (category.Selected is true)
            {
                <input type="checkbox" @bind-value="category.Selected" checked />
                <label>@category.Name</label>
            }
            else
            {
                <input type="checkbox" @bind-value="category.Selected" />
                <label>@category.Name</label>
            }
        </div>
    }

    <div>
        <p>Ціна від:</p>
        <input type="number" @bind-value="ProductFilters.PriceStart"/>
        <p>Ціна до:</p>
        <input type="number" @bind-value="ProductFilters.PriceEnd"/>
    </div>

    <div>
        @foreach(var state in ProductFilters.States)
        {
            if(state.Selected is true){
                <input type="checkbox" @bind-value="state.Selected" checked />
                <label>@state.Name</label>
            }
            else
            {
                <input type="checkbox" @bind-value="state.Selected" />
                <label>@state.Name</label>
            }
        }
    </div>

    <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="SubmitFilters">submit</button>
    <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="PrevProductPage">prev @(ProductPageNumber + 1) of @MaxProductPageNumber</button>
    <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="NextProductPage">next</button>

    @if (_products is not null && _products.List is not null)
    {
        @foreach (var product in _products.List)
        {
            <li>
                @product.Title
                <img src="@(string.IsNullOrEmpty(product.Image) ? "icons/no_photo.png" : $"{ApiConnection}/images/{product.Image}")" alt=""/>
            </li>
        }
    }
}
else
{
    <div class="spinner-border centerOnParrentHorizontal" role="status">
        <span class="sr-only">Завантаження...</span>
    </div>
}

