<h3>Product</h3>
@if (!ShowPreloader)
{
    @foreach (var category in _productFilters.Categories)
    {
        if (category.Selected is true)
        {
            <div>
                <input type="checkbox" @onmousedown="@(e => OnFilterMouseDown(category.Id))" checked/>
                <label>@category.Name</label>
            </div>
        }
        if (category.Selected is false)
        {
            <div>
                <input type="checkbox" @onmousedown="@(e => OnFilterMouseDown(category.Id))"/>
                <label>@category.Name</label>
            </div>
        }
    }
    <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="SubmitFilters">submit</button>
    <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="PrevProductPage">prev @(ProductPageNumber + 1) of @MaxProductPageNumber</button>
    <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="NextProductPage">next</button>

    @if (_products is not null && _products.List is not null)
    {
        @foreach (var product in _products.List)
        {
            <li>@product.Title</li>
        }
    }

}
else
{
    <div class="spinner-border centerOnParrentHorizontal" role="status">
        <span class="sr-only">Завантаження...</span>
    </div>
}

