<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
<div class="modalWindow">
    <div class="mborder">
        <p class="mMainHeader">Швидше заповняй та заходь до нас! </p>
        @if (!ShowPreloader)
        {
            @if (Errors.Count > 0)
            {
                //<ModalDialog Title="@_errors.FirstOrDefault().Key" Text="@_errors.FirstOrDefault().Value" OnClose='@CloseModal' />
                //Нікнейм
                <div class="minputDiv">
                    @if (@Errors.Any(e => e.Value.Contains("EmptyNickName")))
                    {
                        <input class="minput borderColorInputError" type="text" @bind="SignUpRequestDto.NickName" placeholder="Нікнейм" />
                        <p class="errorP">Нікнейм: *Обов'язкове поле!</p>
                    }
                    else if (@Errors.Any(e => e.Value.Contains("LengthNickName")))
                    {
                        <input class="minput borderColorInputError" type="text" @bind="SignUpRequestDto.NickName" placeholder="Нікнейм" />
                        <p class="errorP">Нікнейм: *5 - 30 символів!</p>
                    }
                    else{
                        <input class="minput borderColorInput" type="text" @bind="SignUpRequestDto.NickName" placeholder="Нікнейм" />
                    }
                </div>


                //Повне ім'я
                <div class="minputDiv">
                    @if (@Errors.Any(e => e.Value.Contains("EmptyFullName")))
                    {
                        <input class="minput borderColorInputError" type="text" @bind="SignUpRequestDto.FullName" placeholder="Повне ім'я" />
                        <p class="errorP">Повне ім'я: *Обов'язкове поле!</p>
                    }
                    else if (@Errors.Any(e => e.Value.Contains("LengthFullName")))
                    {
                        <input class="minput borderColorInputError" type="text" @bind="SignUpRequestDto.FullName" placeholder="Повне ім'я" />
                        <p class="errorP">Повне ім'я: *3 - 30 символів!</p>
                    }
                    else{
                        <input class="minput borderColorInput" type="text" @bind="SignUpRequestDto.FullName" placeholder="Повне ім'я" />
                    }
                </div>


                //Електронна пошта

                <div class="minputDiv">
                    @if (@Errors.Any(e => e.Value.Contains("EmptyMail")))
                    {
                        <input class="minput borderColorInputError" type="email" @bind="SignUpRequestDto.Email" placeholder="Електронна пошта" />
                        <p class="errorP">Електронна пошта: *Обов'язкове поле!</p>
                    }
                    else if (@Errors.Any(e => e.Value.Contains("AgreementsMail")))
                    {
                        <input class="minput borderColorInputError" type="email" @bind="SignUpRequestDto.Email" placeholder="Електронна пошта" />
                        <p class="errorP">Електронна пошта: *Невірний формат електронного адресу</p>
                    }else{
                        <input class="minput borderColorInput" type="email" @bind="SignUpRequestDto.Email" placeholder="Електронна пошта" />
                    }
                </div>


                //Пароль
                <div class="minputDiv"> 
                    @if (@Errors.Any(e => e.Value.Contains("EmptyPassword")))
                    {
                        <input class="minput borderColorInputError" type="password" @bind="SignUpRequestDto.Password" placeholder="Пароль" />
                        <p class="errorP">Пароль: *Обов'язкове поле!</p>
                    }
                    else if (@Errors.Any(e => e.Value.Contains("LengthPassword")))
                    {
                        <input class="minput borderColorInputError" type="password" @bind="SignUpRequestDto.Password" placeholder="Пароль" />
                        <p class="errorP">Пароль: *Мінімум 3 символи!</p>
                    }
                    else if (@Errors.Any(e => e.Value.Contains("AgreementsPassword")))
                    {
                        <input class="minput borderColorInputError" type="password" @bind="SignUpRequestDto.Password" placeholder="Пароль" />
                        <p class="errorP">Пароль: *Мінімум 8 сим. Обов'язково(велика, маленька, цифра)</p>
                    }
                    else{
                        <input class="minput borderColorInput" type="password" @bind="SignUpRequestDto.Password" placeholder="Пароль" />
                    }
                </div>

                //Копія паролю
                <div class="minputDiv">
                    @if (@Errors.Any(e => e.Value.Contains("CopyPassword")))
                    {
                        <input class="minput borderColorInputError" type="password" @bind="SignUpRequestDto.CopyPassword" placeholder="Повторіть пароль" />
                        <p class="errorP">Пароль: *Паролі не співпадають</p>
                    }else{
                        <input class="minput borderColorInput" type="password" @bind="SignUpRequestDto.CopyPassword" placeholder="Повторіть пароль" />
                    }
                </div>
                <button class="mbutton mbuttonBottomLeftPos" @onclick="SignUpRequest">Зареєструватися</button>
                <button class="mbutton mbuttonBottomRightPos" @onclick="ModalClose">Назад</button>
            }
            else
            {   
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="text" @bind="SignUpRequestDto.NickName" placeholder="Нікнейм" />
                </div>
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="text" @bind="SignUpRequestDto.FullName" placeholder="Повне ім'я" />
                </div>
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="email" @bind="SignUpRequestDto.Email" placeholder="Електронна пошта" />
                </div>
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="password" @bind="SignUpRequestDto.Password" placeholder="Пароль" />
                </div>
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="password" @bind="SignUpRequestDto.CopyPassword" placeholder="Повторіть пароль" />
                </div>
                <button class="mbutton mbuttonBottomLeftPos" @onclick="SignUpRequest">Зареєструватися</button>
                <button class="mbutton mbuttonBottomRightPos" @onclick="ModalClose">Назад</button>
            }
        }
        else
        {
            <div class="spinner-border centerOnParrentHorizontal" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
    </div>
</div>
</div>